<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Producto</title>
</head>
{% if user.is_authenticated %}
    <body>
        <h1>Actualizar Producto</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% if producto_form.instance.imagen %}

            <p><strong>Imagen actual:</strong></p>
            <img src="{{ producto_form.instance.imagen.url }}" width="150" class="mb-3">

            {% endif %}

            {{ producto_form.as_p }}
                
            <button type="submit">Enviar</button>
            


        </form>    
    </body>
{% else %}
        <p>
            Usted no ha iniciado Sesión
            </br>
            <a href = "{% url 'login' %}">Iniciar Sesión</a>
        </p>

    {% endif %}
</html>