<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="body">
     <img src="{% static 'imagenes/logo.png' %}" height="80" alt="Logo">
    <h2>Iniciar Sesión</h2>

    <form method="post">
        {{form.as_p}}
        {% csrf_token %}
        <button type = 'submit'>Enviar</button>
        <a href = "{% url 'agregar_usuario' %}" class="btn btn-sm btn-success mb-3">Registrarse</a>
    </form>
    
</body>
</html>