*{  
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-style: italic;
    font-weight: bolder;
    display: grid; 
    place-content: center;
    font: size 3rem;
    background-color: bisque;
    color:grey
}

h1, p{
    text-align: center;
}

h2, p{
    text-align: center;
    color:royalblue gold
}