<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{% static 'css/UsuarioStyle.css' %}">
</head>
<body>
    <div class="register-box">
        <div class="register-header">
            <header>Crear Cuenta</header>
        </div>

        <form method="post">
            {% csrf_token %}
            {{ usuario_form.as_p }}

            <div class="input-submit">
                <button type="submit" class="submit-btn" id="submit"></button>
                <label for="submit">Registrarse</label>
            </div>
        </form>
    </div>
</body>
</html>